.homehero {
  padding-top: 100px;
  position: relative;
  height: 100vh;
  background-image: url('../images/about.png'); /* Set background image */
  background-size: cover; /* Cover entire container */
  background-position: center; /* Center the image */
  background-attachment: fixed; /* Enable parallax effect */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  overflow: hidden; /* Hide overflow to prevent scroll bars */
}

.homeherotext {
  color: #000000;
  font-size: 24px;/* Position absolutely within homehero */
  margin-top: 20px; 
}

.homeherotext.right {
  right: 20px;
}

.homeherotext.left {
  left: 20px;
  margin-top: 20px; 
}

.para {
  display: flex;
  padding: 10px;
  max-width: 40%;
  flex-direction: column;
  text-transform: uppercase;
}
