.furniture-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .furniture-image img {
    width: 100%;
    max-width: 400px;
  }
  
  .furniture-description {
    color: black;
    font-size: 0.9rem;
    text-align: center;
  }
  